@import url('https://fonts.googleapis.com/css?family=Spartan');

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

code {
  font-family: 'Spartan', sans-serif;
}

html, body, #root, .App {
  height: 100%;
  overflow-x: auto;
}

.MuiTypography {
  font-family: 'Spartan', sans-serif;
}
